
	<div class="sportsmagazine-main-content">
		<!--// Main Section \\-->
		<div class="sportsmagazine-main-section sportsmagazine-contactus-full">
			<div class="container">
				<div class="row">
                    <div class="col-md-9">


                                  
                               
                            <div class="sportsmagazine-contact-form">
                            {{form_start(form)}}

                               {# <form method="post" action="{{ path('event_new') }}"> #}
                               {{ form_errors(form) }}
                                    <ul>
                                         
                                        <li>
                                           
                                            <label >{{ form_label(form.title) }}</label>
                                            <p>
                                             {{ form_widget(form.title) }}
                                                
                                                <span><i class="fa fa-user"></i></span>
                                            </p>
                                        </li>
                                        <li>
                                        <label >{{ form_label(form.image) }}</label>
                                            <div class="sportsmagazine-upload-photo">
                                                <div>
                                                    <label>
                                                        Upload Image
                                                        <input type="file">
                                                    </label>
                                                </div>
                                            </div>

                                            <p>
                                             {{ form_widget(form.image) }}
                                                
                                                <span><i class="fa fa-user"></i></span>
                                            </p>
                                        </li>
                                        <li class="full-input">
                                            <label>{{ form_label(form.description) }}</label>
                                            <p>
                                                 {{ form_widget(form.description) }}
                                                <span><i class="fa fa-comment"></i></span>
                                            </p>
                                        </li>
                                        <li>
                                            <label>{{ form_label(form.plannedOn) }}</label>
                                            <p>
                                                {{ form_widget(form.plannedOn) }}
                                                    <span><i class="fa fa-calendar"></i></span>
                                            </p>
                                        </li>
                                        <li>
                                            <label>{{ form_label(form.endAt) }}</label>
                                            <p>
                                                {{ form_widget(form.endAt) }}
                                                    <span><i class="fa fa-calendar"></i></span>
                                            </p>
                                        </li>
                                 
                                        <li>
                                          <button class="btn">{{ button_label|default('Save') }}</button>
                                        </li>
                                             
                                    </ul>
                             {{ form_end(form)}}
                                {# </form> #}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
