{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}

		<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">
            
            <!--// Main Section \\-->
            <div class="sportsmagazine-main-section sportsmagazine-thumb">
                <img src="{{asset('extra-images/blog-detail-thumb.jpg')}}" alt="">
                <span class="thumb-transparent"></span>
                <div class="sportsmagazine-thumb-text">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-12">
                                <h2>{{ event.title}}</h2>
                                <ul class="sportsmagazine-thumb-option">
                                    <li><i class="fa fa-play"></i>{{ event.plannedOn ? event.plannedOn|date('Y-m-d H:i:s') : '' }}</li>
                                     <li><i class="fa fa-hourglass-end"></i>{{ event.endAt ? event.endAt|date('Y-m-d H:i:s') : '' }}</li>
                                    <li><i class="fa fa-user"></i> {{event.user.username}} </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
			<div class="sportsmagazine-main-section">
				<div class="container">
					<div class="row">
                        <div class="sportsmagazine-post-tags">
                            <div class="sportsmagazine-tags">
                                <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                                {{ include('event/_delete_form.html.twig') }}
                         
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="sportsmagazine-rich-editor">
                                <p>{{ event.description }}</p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    <a href="{{ path('event_index') }}">back to list</a>

    
{% endblock %}
