{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="sportsmagazine-main-section sportsmagazine-login-form-full">
    	<div class="container">
    		<div class="row">
				<div class="col-md-12">
                    <div class="sportsmagazine-login-form">
                        <h4>Se connecter</h4>
                        <form method="post">
                          <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}">
                            <ul>
                                <li><input type="text" name="email" value="{{ last_username }}" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }" required autofocus></li>
                                <li><input type="password" name="password" value="" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }" style="background-color:#19191b;" required>
                                <a href="#">Forget Password?</a></li>
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}">
                                <li>
                                     <button class="btn btn-lg btn-primary" type="submit">
                                        Se connecter
                                    </button>
                                </li>
                            </ul>
                        </form>
                        <span>Toujours pas membre?<a href="/register"> S'inscrire!</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
                      <!--  <div class="card">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %} 

                                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>

                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}">
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                            </form>
                        </div> -->
{% endblock %}
