{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}


    <div class="sportsmagazine-main-section">
        <div class="sportsmagazine-subheader">
        <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>ANNONCES</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="sportsmagazine-breadcrumb">
                            <li><a href="index.html">Accueil</a></li>
                            <li>Annonces</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            
                <div class="col-md-9" style="margin-top:50px; background-color: #ffdc11;">
                 {% for annonce in annonces %} 
                    <div style="background-color: #ffdc11;padding: 5px 5px;width:100%!important;">
                        <ul class="comment-list" style="background-color:#19191b; padding: 30px 30px;">
                            <li>
                                <div class="thumb-list">
                                <figure><img alt="" src="../extra-images/comment-img1.jpg"></figure>
                                <div class="text-holder" style="text-vertical-aligh:center">
                                <ul>
                                    <li>
                                        <h6>{{annonce.title}}</h6>
                                        <p style="font-size:11px;">{{annonce.user.username}} </p>
                                        <time class="post-date"> time </time>
                                     </li>
                                    <li>
                                        <div class="sportsmagazine-post-tags">
                                            <div class="sportsmagazine-tags">
                                                <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                                                <a href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                                    <div class="sportsmagazine-rich-editor">
                                        <blockquote>{{ annonce.content }}
                                            <span></span>
                                        </blockquote>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                     {% else %}
                        <h3>    no records found    </h3>
                    {% endfor %}
                </div>
               
                
                <br><br>  
                <aside class="col-md-3" style="margin-top:50px;">
                    <!--// Widget Add \\-->
                        <div class="widget widget_add">
                            <img src="{{asset('extra-images/add.jpg')}}" alt="">
                        </div>
                        <!--// Widget Add \\-->
                </aside>
            </div>
        </div>
    </div>


    <a href="{{ path('annonce_new') }}">Create new</a>
{% endblock %}
