<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<title>
			{% block title %}SportBook
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sport.AK</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
		<link href="{{ asset('images/favicon.ico')}}" rel="shortcut icon" type="image/vnd.microsoft.icon">
		<link href="{{ asset('css/akslider.css')}}" rel="stylesheet" type="text/css"/>
		<link href="{{ asset('css/donate.css')}}" rel="stylesheet" type="text/css"/>
		<link href="{{ asset('css/theme.css')}}" rel="stylesheet" type="text/css"/>
		<script type='text/javascript' src='../../ajax.googleapis.com/ajax/libs/mootools/1.3.1/mootools-yui-compressed.js'></script>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	</head>
	<body class="tm-isblog">
		<div class="over-wrap" >
			<div class="toolbar-wrap" style="background-color:grey;" >
				<div class="uk-container uk-container-center">
					<div class="tm-toolbar uk-clearfix uk-hidden-small">
						<div class="uk-float-right">
							<div class="uk-panel">
								<div class="social-top">
									{# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span>
									</a>
									<a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span>
									</a> #}
									<a href="#">
										Login
									</a>
                                    <a href="#">
										Register
									</a>
                                    {# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-google"></span>
									</a> #}
									{# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-pinterest"></span>
									</a> #}
									{# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span>
									</a> #}
									{# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span>
									</a> #}
									{# <a href="#">
										<span class="uk-icon-small uk-icon-hover uk-icon-flickr"></span>
									</a> #}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="tm-menu-box">

				<div style="height: 70px; background-color:grey;" class="uk-sticky-placeholder">
					<nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
						<div class="uk-container uk-container-center">
							<a class="tm-logo uk-float-left" href="index-2.html">
								<img src="images/logo-img.png" alt="logo" title="logo">
								<span>SportBook</em>
							</span>
						    </a>

                            <ul class="uk-navbar-nav uk-hidden-small">
                                <li class="uk-parent uk-active" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="index-2.html">Home</a>
                                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                        <div class="uk-grid uk-dropdown-grid">
                                            <div class="uk-width-1-1">
                                                <ul class="uk-nav uk-nav-navbar">
                                                    <li>
                                                        <a class="yellow-scheme" href="index-2.html">Yellow Color Scheme</a>
                                                    </li>
                                                    <li>
                                                        <a class="blue-scheme" href="http://h-sportak.torbara.com/blue/index.html">Blue Color Scheme</a>
                                                    </li>
                                                    <li>
                                                        <a class="red-scheme" href="http://h-sportak.torbara.com/red/index.html">Red Color Scheme</a>
                                                    </li>
                                                    <li>
                                                        <a href="offline.html">Offline Page</a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html">Error Page</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="about.html">Annonces</a>
                                </li>
                                <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="/event">Evénements</a>
                                </li>
                                <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="about.html">Boutique</a>
                                </li>
                                <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="about.html">Messagerie</a>
                                </li>

                                <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                                    <a href="#">Pages</a>
                                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                        <div class="uk-grid uk-dropdown-grid">
                                            <div class="uk-width-1-1">
                                                <ul class="uk-nav uk-nav-navbar">
                                                    <li>
                                                        <a href="players.html">clubs</a>
                                                    </li>
                                                    <li>
                                                        <a href="players.html">Joueurs</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery.html">Entraineurs</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a href="contact.html">
                                        Contact</a>
                                </li>
                            </ul>
						    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
					    </div>
				    </nav>
			    </div>

                {% block header %}{% endblock %}

                {% block body %}{% endblock %}

            
                {# navbar mobile #}
                    <div id="offcanvas" class="uk-offcanvas">
                        <div class="uk-offcanvas-bar">
                            <ul class="uk-nav uk-nav-offcanvas">
                                <li class="uk-parent uk-active"><a href="index-2.html">Home</a>
                                
                                </li>
                                <li><a href="/">Accueil</a></li>
                                <li><a href="/ads">Annonces</a></li>
                                <li><a href="/events">Evénements</a></li>
                                
                            
                                <li><a href="news.html">Boutique</a>
                                </li>
                                <li><a href="category.html">Messagerie</a>
                                </li>
                                <li class="uk-parent"><a href="#">Pages</a>
                                    <ul class="uk-nav-sub">
                                        <li><a href="players.html">Clubs</a>
                                        </li>
                                        <li><a href="gallery.html">Joueurs</a>
                                        </li>
                                        <li><a href="gallery.html">Entraineurs</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {# end navbar mobile #}
		    </div>
        </div>

    
      




        <script type="text/javascript" src="{{ asset('js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/uikit.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/SimpleCounter.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/grid.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/slider.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/slideshow.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/slideset.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/sticky.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/components/lightbox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js')}}"></script>
        <script type="text/javascript" src="js/theme.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
